.recipePage {
  max-width: 1440px;
  width: 65%;
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.756);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category {
  font-size: var(--font-size-text);
  color: var(--secondary-color);
  background-color: var(--color-category);
  border: 0;
  border-radius: 24px;
  padding: 5px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  p {
    display: inline-flex;
    align-items: center;
    font-size: var(--font-size-text);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 24px;

    span {
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      line-height: 1;
    }
    img {
      width: clamp(16px, 2vw, 18px);
      height: clamp(16px, 2vw, 18px);
    }
  }
}

.blockIngredients {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.imgRecipe {
  width: 50%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.ingredients {
  width: 45%;
  max-height: 300px;
  overflow-y: auto;
  p {
    font-size: var(--font-size-text);
    padding-bottom: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    li {
      font-size: var(--font-size-text);
      color: var(--primary-color);
      span {
        background-color: var(--secondary-color);
        padding: 5px;
        border-radius: 24px;
      }
    }
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  p {
    font-size: var(--font-size-text);
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      span {
        font-size: var(--font-size-text);
        padding: 10px;
      }
    }
  }
}

.stepId {
  font-family: 'Times New Roman', Times, serif;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
}

.stepDesc {
  width: 80%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 24px;
  width: fit-content;
}

@media screen and (max-width: 640px) {
  .recipePage {
    width: 100%;
    background-color: #fbf2e9c2;
  }
}

@media screen and (max-width: 480px) {
  .blockIngredients {
    flex-direction: column;
  }
  .imgRecipe {
    width: 100%;
  }
  .ingredients {
    width: 100%;
  }
}
